.profile{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 20px;
  width: 200px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.514);
  color: #34495e;
  box-shadow: 2px 2px 5px #74747463, 
  -1px -1px 5px rgba(255, 255, 255, 0.589);
  font-size: 12px;
}

.profile_header{
  text-align: center;
  font-size: 16px;
  color: #76a9e2;
}

.profile_pic{
  width: 100px;
  height: 100px;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  box-shadow: 2px 2px 5px #74747463, 
            -2px -2px 5px rgba(255, 255, 255, 0.589);
}

.profile_aboutme{
  margin-top: 5px;
}

.profile_text {
  margin: 10px;
}